<div class="body-content">
        <div class="add-service container">
          <div class="layout">
            <aside id="sidebar" class="layout_aside">
              <div class="basket-container">
                <div class="basket-header">
                  <div class="basket-title">
                    <i class="fa fa-shopping-cart"></i>
                    <span>سرویس انتخاب شده</span>
                  </div>
                </div>
                <div class="basket-content">
                  <div class="basket-item">
                    <div class="title">
                      روغن ترمز
                    </div>
                    <div class="details-wrapper">
                      <div class="detail">
                        <span class="label">روغن کاسپین</span>
                        <i class="dot"></i>
                        <span class="label">2 عدد</span>
                      </div>
                      <div class="detail">
                        <span class="label">روغن کاسپین</span>
                        <i class="dot"></i>
                        <span class="label">2 عدد</span>
                      </div>
                    </div>
                  </div>
                  <div class="basket-item">
                      <div class="title">
                        روغن ترمز
                      </div>
                      <div class="details-wrapper">
                        <div class="detail">
                          <span class="label">روغن کاسپین</span>
                          <i class="dot"></i>
                          <span class="label">2 عدد</span>
                        </div>
                        <div class="detail">
                          <span class="label">روغن کاسپین</span>
                          <i class="dot"></i>
                          <span class="label">2 عدد</span>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
              <div class="cost-estimate-container">
                <table class="cost-estimate">
                  <tbody>
                    <tr>
                      <td>جمع کل</td>
                      <td>50،000 تومان</td>
                    </tr>
                    <tr>
                      <td>مالیات</td>
                      <td>5،000 تومان</td>
                    </tr>
                    <tr>
                      <td>قابل پرداخت</td>
                      <td>25،000 تومان</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <a href="" class="submit-order-button">ثبت سفارش</a>
            </aside>
            <div id="main_column" class="layout_main layout_main_1column">
              <div class="layout_content order-info">
                <div class="section-container personal-information">
                  <section class="section">
                    <div class="section-header">
                      <div class="section-title">
                        <i class="fa fa-user-o"></i>
                        <span>اطلاعات کاربری</span>
                      </div>
                    </div>
                    <div class="section-content">
                      <div class="section-content-inner">
                        <table>
                          <tbody>
                            <tr>
                              <td>نام و نام خانوادگی</td>
                              <td>
                                <input type="text" name="" value="">
                              </td>
                            </tr>
                            <tr>
                              <td>شماره تماس</td>
                              <td>
                                <input type="text" name="" value="">
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </section>
                </div>
                  <div class="section-container personal-information">
                    <section class="section">
                      <div class="section-header">
                        <div class="section-title">
                          <i class="fa fa-clock-o"></i>
                          <span>زمان ارسال متخصص</span>
                        </div>
                      </div>
                      <div class="section-content">
                        <div class="section-content-inner">
                          <table>
                            <tbody>
                              <tr>
                                <td>انتخاب روز</td>
                                <td>
                                  <select class="" name="">
                                    <option value="12 آبان">12 آبان</option>
                                    <option value="12 آبان">12 آبان</option>
                                  </select>
                                </td>
                              </tr>
                              <tr>
                                <td>انتخاب ساعت</td>
                                <td>
                                  <select class="" name="">
                                    <option value="12:30">12:30</option>
                                    <option value="12:30">12:30</option>
                                  </select>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </section>
                  </div>
                <div class="section-container select-location">
                  <section class="section">
                    <div class="section-header">
                      <div class="section-title">
                        <i class="fa fa-map-o"></i>
                        <span>انتخاب آدرس</span>
                      </div>
                      <div class="section-header-actions">
                        <button type="button" name="button">ثبت آدرس جدید</button>
                      </div>
                    </div>
                    <div class="section-content">
                      <div class="section-content-inner">
                        <div class="locations-list">
                          <div class="location selected">
                            <div class="location-wrapper">
                              <div class="location-map">
                              </div>
                              <div class="location-title">
                                محل کار
                              </div>
                              <div class="location-address">
                                تهران، 46 متری غربی نارمک، مبدان 94، بن بست حضوری، پلاک 20
                              </div>
                            </div>
                            <div class="check-icon checked">
                              <i class="fa fa-check"></i>
                            </div>
                            <a class="hover-link"></a>
                          </div>
                          <div class="location">
                            <div class="location-wrapper">
                              <div class="location-map">
                              </div>
                              <div class="location-title">
                                محل کار
                              </div>
                              <div class="location-address">
                                تهران، 46 متری غربی نارمک، مبدان 94، بن بست حضوری، پلاک 20
                              </div>
                            </div>
                            <div class="check-icon checked">
                              <i class="fa fa-check"></i>
                            </div>
                            <a class="hover-link"></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
                <div class="section-container insert-discout">
                  <section class="section">
                    <div class="section-header">
                      <div class="section-title">
                        <i class="fa fa-gift"></i>
                        <span>کد تخفیف</span>
                      </div>
                    </div>
                    <div class="section-content">
                      <div class="section-content-inner">
                        <table>
                          <tbody>
                            <tr>
                              <td>
                                <span class="label">اگر کد تخفیف دارید در این بخش وارد کنید و دکمه اعمال را بزنید</span>
                              </td>
                              <td>
                                <input type="text" name="" value="">
                                <button type="button" name="button" style="border: none; border-radius: 20px; padding: 5px 10px; background-color: #a39f9f; color: #fff;">اعمال تخفیف</button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </section>
                </div>
                <div class="section-container select-payment">
                  <section class="section">
                    <div class="section-header">
                      <div class="section-title">
                        <i class="fa fa-credit-card"></i>
                        <span>نحوه ی پرداخت</span>
                      </div>
                    </div>
                    <div class="section-content">
                      <div class="section-content-inner">
                        <div class="row clearfix">
                          <div class="col-md-2">
                            <input type="radio" name="payment_method" value="cash_payment">
                            <label for="cash_payment">نقدی</label>
                          </div>
                          <div class="col-md-10">
                            <div class="select-bank">

                            </div>
                          </div>
                        </div>
                        <div class="row clearfix">
                          <div class="col-md-2">
                            <input type="radio" name="payment_method" value="online_payment">
                            <label for="online_payment">آنلاین</label>
                          </div>
                          <div class="col-md-10">

                          </div>
                        </div>
                        <div class="row clearfix">
                          <div class="col-md-2">
                            <input type="radio" name="payment_method" value="credit_payment">
                            <label for="credit_payment">کیف پول</label>
                          </div>
                          <div class="col-md-10">

                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
