<div class="body-content" ng-controller="UserCtrl as vm">
  <section class="hero-container bg-color_green_light">
    <div class="hero container">
      <div class="hero-register-form" style="display: block; left: 50%; transform: translateX(-50%);">
        <form name="loginForm" ng-submit="loginForm.$valid && vm.login()" novalidate>
          <div class="text-input input_phone">
            <span ng-show="loginForm.phone.$dirty && loginForm.phone.$invalid">مثال: 09xxxxxxxxx یا 9xxxxxxxxx</span><br />
            <input type="number" name="phone" placeholder="شماره تلفن همراه" ng-model="vm.userData.username" ng-pattern="/^0?9[0-9]{9}$/" required/>
            <!--<label for="">شماره تلفن همراه</label>-->
          </div>
          <div class="text-input input_password">
            <input type="password" name="password" placeholder="رمز عبور" ng-model="vm.userData.password" ng-pattern="/^.{6,}$/" required/>
            <span ng-show="loginForm.password.$dirty && loginForm.password.$invalid">حداقل 6 کاراکتر</span>
          </div>
          <input type="submit" name="login" value="ورود به سامانه" style="margin-top:36px;">
        </form>
        <div>
          <p>عضو نیستید؟</p>
          <a ui-sref="register">عضو شوید!</a>
        </div>
      </div>
    </div>
  </section>
</div>
