<div class="body-content">
        <div class="" style="height: 145px; margin-bottom: 50px; background-color: #7792ec;">
        </div>
        <div class="add-service container">
          <div class="layout">
            <aside id="sidebar" class="layout_aside checklist">
              <div class="basket-container">
                <div class="basket-header">
                  <div class="basket-title">
                    <i class="fa fa-shopping-cart"></i>
                    <span>سرویس انتخاب شده</span>
                  </div>
                </div>
                <div class="basket-content">
                  <div class="basket-item">
                    <div class="hover-link" data-target=""></div>
                    <div class="title">
                      روغن ترمز
                    </div>
                    <div class="details-wrapper">
                      <div class="detail">
                        <span class="label">روغن کاسپین</span>
                        <i class="dot"></i>
                        <span class="label">2 عدد</span>
                      </div>
                      <div class="detail">
                        <span class="label">روغن کاسپین</span>
                        <i class="dot"></i>
                        <span class="label">2 عدد</span>
                      </div>
                    </div>
                    <div class="actions">
                      <a href="#" class="edit-button">
                        <i class="fa fa-pencil"></i>
                      </a>
                    </div>
                  </div>
                  <div class="basket-item">
                      <div class="hover-link" data-target=""></div>
                      <div class="title">
                        روغن ترمز
                      </div>
                      <div class="details-wrapper">
                        <div class="detail">
                          <span class="label">روغن کاسپین</span>
                          <i class="dot"></i>
                          <span class="label">2 عدد</span>
                        </div>
                        <div class="detail">
                          <span class="label">روغن کاسپین</span>
                          <i class="dot"></i>
                          <span class="label">2 عدد</span>
                        </div>
                      </div>
                      <div class="actions">
                        <a href="#" class="edit-button">
                          <i class="fa fa-pencil"></i>
                        </a>
                      </div>
                    </div>
                </div>
              </div>
              <div class="cost-estimate-container">
                <table class="cost-estimate">
                  <tbody>
                    <tr>
                      <td>جمع کل</td>
                      <td>50،000 تومان</td>
                    </tr>
                    <tr>
                      <td>مالیات</td>
                      <td>5،000 تومان</td>
                    </tr>
                    <tr>
                      <td>قابل پرداخت</td>
                      <td>25،000 تومان</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <a href="" class="submit-order-button">بررسی نهایی</a>
            </aside>
            <div id="main_column" class="layout_main">
              <div id="sidebar2" class="layout_nav">
                <div class="switch-service" style="display: none;">
                  <div>
                    <input type="radio" name="test" value="value1" selected>
                    <label for="value1">سرویس کامل ماشین</label>
                  </div>
                  <div>
                    <input type="radio" name="test" value="value2">
                    <label for="value2">تعویض شیشه</label>
                  </div>
                </div>
                <div class="services-category-menu">
                  <ul class="services-category-list">
                    <li class="category-list-item selected">
                      <i class="fa fa-angle-left"></i>
                      <span class="category-title">تعویض روغن ماشین</span>
                    </li>
                    <li class="category-list-item">
                      <i class="fa fa-angle-left"></i>
                      <span class="category-title">تعویض روغن ماشین</span>
                    </li>
                    <li class="category-list-item">
                      <i class="fa fa-angle-left"></i>
                      <span class="category-title">تعویض روغن ماشین</span>
                    </li>
                    <li class="category-list-item">
                      <i class="fa fa-angle-left"></i>
                      <span class="category-title">تعویض روغن ماشین</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div id="main_column2" class="layout_content services">
                <div class="services-category">
                  <div class="services-category-title">
                    <img src="" alt="">
                    <div>تعویض روغن ماشین</div>
                  </div>
                  <div class="services-category-wrapper">
                    <div class="service-item edit-mode">
                      <div class="service-header">
                        <div class="actions">
                          <a class="add-link" href="#">
                            <i class="fa fa-plus"></i>
                            <span>افزودن</span>
                          </a>
                          <a class="remove-link" href="#">
                            <i class="fa fa-close"></i>
                            <span>حذف</span>
                          </a>
                        </div>
                        <div class="service-title">تعویض لاستیک جلو</div>
                      </div>
                      <div class="service-edit">
                        <div class="service-edit-wrapper">
                          <table cell-spacing="0">
                            <tbody>
                              <tr>
                                <td>انتخاب برند</td>
                                <td>
                                  <select id="country" name="country">
                                    <option value="australia">Australia</option>
                                    <option value="canada">Canada</option>
                                    <option value="usa">USA</option>
                                  </select>
                                  <div class="price">
                                    <span class="price-value">20،000</span>
                                    <span class="price-label">تومان</span>
                                  </div>
                                  <div class="price old-price">
                                    <span class="price-value">30،000</span>
                                    <span class="price-label">تومان</span>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td>تعداد</td>
                                <td>
                                  <input type="number" name="" value="">
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div class="service-item">
                        <div class="service-header">
                          <div class="actions">
                            <a href="#" class="add-link">
                              <i class="fa fa-plus"></i>
                              <span>افزودن</span>
                            </a>
                              <a href="#" class="remove-link">
                                <i class="fa fa-close"></i>
                                <span>حذف</span>
                              </a>
                          </div>
                          <div class="service-title">تعویض لاستیک جلو</div>
                        </div>
                        <div class="service-edit" style="display: none"></div>
                      </div>
                    <div class="service-item">
                          <div class="service-header">
                            <div class="actions">
                              <a href="#" class="add-link">
                                <i class="fa fa-plus"></i>
                                <span>افزودن</span>
                              </a>
                                <a href="#" class="remove-link">
                                  <i class="fa fa-close"></i>
                                  <span>حذف</span>
                                </a>
                            </div>
                            <div class="service-title">تعویض لاستیک جلو</div>
                          </div>
                          <div class="service-edit" style="display: none"></div>
                        </div>
                        <div class="service-item">
                            <div class="service-header">
                              <div class="actions">
                                <a href="#" class="add-link">
                                  <i class="fa fa-plus"></i>
                                  <span>افزودن</span>
                                </a>
                                  <a href="#" class="remove-link">
                                    <i class="fa fa-close"></i>
                                    <span>حذف</span>
                                  </a>
                              </div>
                              <div class="service-title">تعویض لاستیک جلو</div>
                            </div>
                            <div class="service-edit" style="display: none"></div>
                          </div>
                  </div>
                </div>
                <div class="services-category">
                    <div class="services-category-title">
                      <img src="" alt="">
                      <div>تعویض روغن ماشین</div>
                    </div>
                    <div class="services-category-wrapper">
                      <div class="service-item">
                        <div class="service-header">
                          <div class="actions">
                            <a class="add-link" href="#">
                              <i class="fa fa-plus"></i>
                              <span>افزودن</span>
                            </a>
                            <a class="remove-link" href="#">
                              <i class="fa fa-close"></i>
                              <span>حذف</span>
                            </a>
                          </div>
                          <div class="service-title">تعویض لاستیک جلو</div>
                        </div>
                      </div>
                      <div class="service-item">
                        <div class="service-header">
                          <div class="actions">
                            <a href="#" class="add-link">
                              <i class="fa fa-plus"></i>
                              <span>افزودن</span>
                            </a>
                              <a href="#" class="remove-link">
                                <i class="fa fa-close"></i>
                                <span>حذف</span>
                              </a>
                          </div>
                          <div class="service-title">تعویض لاستیک جلو</div>
                        </div>
                        <div class="service-edit" style="display: none"></div>
                      </div>
                      <div class="service-item">
                        <div class="service-header">
                          <div class="actions">
                            <a href="#" class="add-link">
                              <i class="fa fa-plus"></i>
                              <span>افزودن</span>
                            </a>
                              <a href="#" class="remove-link">
                                <i class="fa fa-close"></i>
                                <span>حذف</span>
                              </a>
                          </div>
                          <div class="service-title">تعویض لاستیک جلو</div>
                        </div>
                        <div class="service-edit" style="display: none"></div>
                      </div>
                      <div class="service-item">
                            <div class="service-header">
                              <div class="actions">
                                <a href="#" class="add-link">
                                  <i class="fa fa-plus"></i>
                                  <span>افزودن</span>
                                </a>
                                  <a href="#" class="remove-link">
                                    <i class="fa fa-close"></i>
                                    <span>حذف</span>
                                  </a>
                              </div>
                              <div class="service-title">تعویض لاستیک جلو</div>
                            </div>
                            <div class="service-edit" style="display: none"></div>
                          </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
