<div class="body-content" ng-controller="UserCtrl as vm">
  <section class="hero-container bg-color_green_light">
    <div class="hero container">
      <div class="hero-register-form" style="display: block; left: 50%; transform: translateX(-50%);">
        <form name="verifyForm" ng-submit="verifyForm.$valid && vm.verifyRegistration()">
          <div class="text-input input_phone">
            <input type="number" name="verifyCode" placeholder="کد فعالسازی" ng-model="vm.verify.code" ng-pattern="/^\d{5}$/" required/>
            <span ng-show="verifyForm.verifyCode.$dirty && verifyForm.verifyCode.$invalid">کد 5 رقمی را وارد نمایید.</span>
            <!--<label for="">شماره تلفن همراه</label>-->
          </div>
          <input type="submit" name="verify" value="ادامه ثبت نام">
        </form>
      </div>
    </div>
  </section>
</div>
